---
import Layout from '../layouts/Layout.astro';
import SectionHeading from '../components/SectionHeading.astro';

import heroPhoto from '../assets/hero-photo.webp';
import bgTrip from "../assets/bg/trip-det.svg";
import decor from "../assets/decor-bush.svg";
---

<Layout
	title="O nás"
	description="30-ročné skúsenosti s organizovaním detských rekreácií. Spoľahlivý partner pre školy pri organizovaní pobytov, ktorý deťom priblíži krásy Slovenska."
>
	<section class="py-16 sm:py-32 bg-cover bg-no-repeat bg-top relative" style={{ backgroundImage: `url('${bgTrip.src}')` }}>
		<div class="content grid grid-cols-1 lg:grid-cols-2 gap-12 items-center">
			<div>
				<SectionHeading
					title="O nás"
					align='left'
				/>
				<div class="text-text/80 space-y-4 text-center md:text-left">
					<p>
						Myšlienka organizovania detských rekreácií pokračuje. Vzácne 30-ročné skúsenosti si berieme od tých najlepších - CK Detská rekreácia a pridávame niečo nové. Veríme, že pre školákov i pre Vás zaujímavé a  prínosné.
					</p>
					<p>
						Želáme si, aby deti spoznávali najprv krásy Slovenska, predtým ako spoznajú  svet. Zároveň by sme ich chceli motivovať k láske k prírode i pohybu v  nej.
					</p>
					<p>
						Vážime si prácu pedagógov, pre  deti chceme to najlepšie, preto sme starostlivo vyberali, čo Vám  ponúkneme - kvalitné ubytovanie a stravu ako základ, na výber aktivity,  ktoré školákov nielen zabavia. Pobyt pre každú školu je pre nás  jedinečný, preto Vám poskytneme individuálny prístup a možnosť  prispôsobiť ho na mieru podľa Vašich požiadaviek.
					</p>
					<p>
						Veríme, že sa pre Vás staneme spoľahlivým partnerom v organizovaní pobytov pre Vašich školákov.
					</p>
				</div>
			</div>

			<img src={heroPhoto.src} class="w-3/4 mx-auto" />
		</div>
		<img src={decor.src} alt="" class="hidden sm:block sm:h-24 md:h-32 w-auto absolute -bottom-2 -left-2">
	</section>
</Layout>
